// Footer
.footer {
    background: #410f40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100px;

    @media (max-width: 768px) {
      height: auto;
      padding-bottom: 1rem;
    }
  }
  
  .footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;    
    position: relative;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  
  .footer-logo {
    padding: 1rem;
    img {
        width: auto;
        height: calc(100px - 2rem);
    }
    
  }
  
  .footer-links {
    display: flex;    
    justify-content: flex-end;    
    width: calc(100% - 1rem);
    gap: 1rem;

    @media (max-width: 768px) {
      justify-content: center;
    
    }
  }
  
  .footer-link {
    color: #bdc3c7;
    text-decoration: none;    
    transition: color 0.3s ease;    
    
    &:hover {
      color: white;
    }
  }

  .footer-social {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background: #410f40;
    
    img {
        width: auto;
        height: 30px;
    }

    a {
        width: auto;
        height: auto;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            transform: scale(1.3);
          transition: all 0.3s ease;
          }
    }
  }