<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
          <img src="assets/images/hippie-daily-artisanals.png" alt="Hippie Daily Artisanals">
        </div>
        <div class="footer-links">
          <a href="#faqs" class="footer-link">FAQs</a>
          <a href="#contact" class="footer-link">Contact us</a>
        </div>        
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/hippie.daily.artisanals" target="_blank">
            <img src="assets/images/facebook.png" alt="Facebook">
        </a>            
        <a href="https://www.instagram.com/hippie_daily_artisanals/" target="_blank">
            <img src="assets/images/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.etsy.com/uk/shop/HippieDailyArtisanal" target="_blank">
            <img src="assets/images/etsy.png" alt="Etsy">
        </a>
    </div>
  </footer>