<!-- Hero Section -->
<section class="hero">
  <div class="banner " >
    <span class="hidden-text">We help to improve the quality, living conditions and malnutrition of the different indigenous  communuties throghout latin america.</span>
  </div>
</section>

<!-- Product Range Section -->
<section id="range" class="product-range">
  <div class="container">
    <h5 class="section-title">Our products</h5>
    <h6 class="section-subtitle"> Carefully crafted for your consideration</h6>
    <div class="product-categories">
      <ul>
        <li [ngClass]="pageModel.category === 'all' ? 'active' : ''">All</li>
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
        <li>Category 4</li>
        <li>Category 5</li>
        <li>Category 6</li>
        <li>Category 7</li>
        <li>Category 8</li> 
        </ul>
    </div>
    
    <div class="products">
      <div class="product-card">
        <div class="product-image">
          <img src="assets/images/bolsa1.png" alt="Wayuu Bag">
        </div>
        <div class="product-info">
          <span class="product-name">Wayuu Bag</span>
          <span class="product-description">Plain Large</span>
          <span class="product-price">$75</span>
        </div>  
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="assets/images/bolsa1.png" alt="Wayuu Bag">
        </div>
        <div class="product-info">
          <span class="product-name">Wayuu Bag</span>
          <span class="product-description">Plain Large</span>
          <span class="product-price">$75</span>
        </div>  
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="assets/images/bolsa1.png" alt="Wayuu Bag">
        </div>
        <div class="product-info">
          <span class="product-name">Wayuu Bag</span>
          <span class="product-description">Plain Large</span>
          <span class="product-price">$75</span>
        </div>        
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="assets/images/bolsa2.png" alt="Wayuu Bag">
        </div>
        <div class="product-info">
          <span class="product-name">Wayuu Bag</span>
          <span class="product-description">Plain Large</span>
          <span class="product-price">$75</span>
        </div>  
      </div>
      
      <div class="product-card">
        <div class="product-image">
          <img src="assets/images/bolsa1.png" alt="Wayuu Bag">
        </div>
        <div class="product-info">
          <span class="product-name">Wayuu Bag</span>
          <span class="product-description">Plain Large</span>
          <span class="product-price">$75</span>
        </div>  
      </div>
    </div>
  </div>
</section>