<div class="content">
  <section class="banner">
    <div class="banner-logo">
      <img src="assets/images/hippie-daily-artisanals-white.png" alt="Hippie Daily Artisanals">
    </div>
    <span class="text">We help to improve the quality, living conditions and malnutrition of the different indigenous  communuties throghout latin america.</span>
    <a href="#products" class="banner-button">Discover more</a>
  </section>

  <section class="newProduct">
    <span class="text">
      Check out our new product!
    </span>
    <a href="#products" class="banner-button">More details</a>
  </section>

  <section class="nextEvent">
    <span class="title">
      Latin Festival 2025
    </span>
    <span class="date">
      August 2  12:00 pm - 5:00 pm
    </span>
    <img src="assets/images/festival.png" alt="Next Event">
    <a href="#products" class="circle-button">More details</a>
  </section>
  
  <section class="story">
    <div class="border">
      <span class="title">
        Our Story
      </span>
      <span class="text">
        Discover the story of how we started and how we are helping the communities.
      </span>
      <span class="subtext">
        Wander around, explore & be immersed into our legacy & heritage.
      </span>
      <a href="#products">Learn More</a>
    </div>
  </section>
</div>